/* Scrollbar dla Webkit (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(251, 191, 36, 0.5); /* amber-600/50 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar dla Firefoxa */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(251, 191, 36) transparent;
}
